.search {
  .van-collapse-item__wrapper {

    .van-field {
      display: inline-block;
      width: 50%;
      padding: 0px;
    }

    .van-cell__title {
      display: inline-block;
      margin-right: 0px;
      width: 7%;
      color: #999;
    }

    .van-cell__value {
      display: inline-block;
      width: 43%;
    }

    .van-cell__title {
      width: 50px;
    }
  }
}


.user_add {
  .van-tabs__line {
    width: 50%;
    background-color: #2d8cf0;
  }
}