/* 全局样式覆盖 */
// @function toRem($px) {
//   @return #{round($px * 25 * 1000 / 375)/1000}rem;
// }
body{
  padding: 0px;
  margin: 0px;
}

// 头部信息筛选
.search{
  .ivu-select{
    width: 90px !important;
    margin-right: 5px;
  }
  .ivu-input-wrapper{
    width: 90px !important;
    margin-right: 5px;  
  }
}

// 修改学生信息
.stuEdit{
  .ivu-input-wrapper{
    width:230px;
    margin-top: 5px;
  }
  .ivu-radio-group{
    margin-left: 32px;
  }
  .ivu-select{
    width: 230px !important;
  }
  .ivu-date-picker{
    width: 230px;
  }
  .address {
    .ivu-select{
      display: inline-block;
      width: 70px !important;
      margin-right: 5px;
    }
  }
  
  .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .ivu-modal {
      top: 0;
    }
  }
}

// 缴费页面
.pay{
  .ivu-select{
    width: 200px !important;
  }
  .ivu-date-picker{
    width: 200px !important;
  }
}

.userAdd{
  .ivu-input-wrapper{
    width:230px;
    margin-top: 5px;
  }
  .ivu-select{
    width: 230px !important;
  }
  .ivu-menu-item{
    width: 50%;
  }
}

